@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
/*    font-family: 'Press Start 2P', cursive;

    font-family: 'Zen Dots', cursive;*/

html,body{
  overflow-x: hidden;
  color:black;
  font-family:'Opens Sans',helvetica;  
  height:100%;
  width:101%;
  margin: 0px;
  padding: 0px;
}
.menu{
  
    font-family: 'Open Sans', sans-serif;
    display: flex;
    background-color: #012a4a;
    position: relative;
    padding: 13px 0;
    padding-left: 17px;
    
}
.main{
  margin-top: 100px;
}
.nav {
  position: relative;
    display: flex;
    list-style: none;
    margin-right: 30px;
    flex-direction: row;
}
.nav2 {
  display: flex;
  list-style: none;
  margin-right: 108px;
  flex-direction: row;
  
  margin-left: 40%;
}
.absolute{
  position: absolute;
  margin-left: 76%;
}
.logo{
    display: flex;
    padding-right: 20px;
}
.uno{
    padding: 0;
    width: 400px;
    height: 60px;
  
}
.dos{   
    text-align: center;
    display: flex;
    height: auto;
}
.link{
  color: white;
}
.link2{
  color:#006494;
  font-size: 30px;
}
a{
    font-family: "Noto Sans",sans-serif;
    font-size: 17px;
    margin: 18px 0 18px 14px;
    padding: 0 14px 0 0;
    text-decoration: none;
    color: rgb(238, 207, 207);
    border-right: 2px #c49c9c solid;
    
}
body{
  margin: 0;
  min-height: calc(100vh - 100px - 300px);
  background-color: #006494;

}
#imgCarrusel{
  width: 100%;
  height: 655px;
}
.eslogan{
  display: flex;
  font-family:'Zen Dots', cursive;
  font-size:xx-large;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 100px;
  background-color: #013a63;
}
.tarjetas{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-between;
  margin:3%;
}
  @media only screen and (min-width: 768px) {
    iframe{
      height: 13em;
    }
    .card{
      width: 30%;
    }
  }
.infoCom{
  position: relative;
  background-color: white;
  width: 1000px;
  height: 400px;
  margin-left: 70px;
  border-radius: 20% / 5% 5%;
}
.presentacion{
  position: absolute;
  margin: 40px;
}
.presentacion h1{
  font-family: 'Zen Dots', cursive;
  font-size: 5vh ;
}
.presentacion p{
  font-family: 'Press Start 2P', cursive;
  font-size: larger;
}
.tarjetas p{
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
}
.mapa1{
  width: 500px;
  height: 500px;
}
#pie {
    
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #555555;
    background-color: #121212;
    height: 240px;
    margin-top: auto;
    width: 100%;
    bottom: 0;
  }
  #pie h1 {
    color: white;
    margin-top: 10px;
  }
  .icons{
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    font-size: 30px;
  }
  .icons div {
    width: 5%;
  }



